<h1>編集する</h1>
<%= form_with model:@post, url:"/posts/#{@post.id}", local:true do |f| %>
<%= f.submit '保存' %>
<% end %>

<%= link_to '編集する', edit_post_path(@post.id) %><br>
<%= link_to '投稿一覧ページへ', posts_path %>