input[type=radio]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  input[type=radio]:checked+label::before{
    border: 3px solid blue;
    box-sizing: border-box;
  }
  
  input[type=radio]{
    display: none;
  }
  
  
  
   input[type=radio][value="1"]+label:before{
    background-image: url(/images/main/Hero061-icon.webp);
    background-repeat: no-repeat;
    }
    
    input[type=radio][value="2"]+label:before{
      background-image: url(/images/main/Hero021-icon-1.webp);
      background-repeat: no-repeat;
      }
      
  
  
      input[type=radio][value="3"]+label:before{
        background-image: url(/images/main/Hero051-icon.webp);
        background-repeat: no-repeat;
        }
        
        input[type=radio][value="4"]+label:before{
          background-image: url(/images/main/Hero171-icon.webp);
          background-repeat: no-repeat;
          }
          
          input[type=radio][value="5"]+label:before{
            background-image: url(/images/main/Hero011-icon.webp);
            background-repeat: no-repeat;
            }
             
            input[type=radio][value="6"]+label:before{
              background-image: url(/images/main/Hero341-icon-1.webp);
              background-repeat: no-repeat;
              }
  
     /*tank*/         
  
  input[type=radio][value="10"]+label:before{
    background-image: url(/images/Tank/Hero041-icon.webp);
    background-repeat: no-repeat;
    }
    
    input[type=radio][value="11"]+label:before{
      background-image: url(/images/Tank/Hero061-icon.webp);
      background-repeat: no-repeat;
      }
    
      input[type=radio][value="12"]+label:before{
        background-image: url(/images/Tank/Hero091-icon.webp);
        background-repeat: no-repeat;
        }
        
        input[type=radio][value="13"]+label:before{
          background-image: url(/images/Tank/Hero101-icon.webp);
          background-repeat: no-repeat;
          }
          
          input[type=radio][value="14"]+label:before{
            background-image: url(/images/Tank/Hero191-icon.webp);
            background-repeat: no-repeat;
            }
            
            input[type=radio][value="15"]+label:before{
              background-image: url(/images/Tank/Hero201-icon.webp);
              background-repeat: no-repeat;
              }
              input[type=radio][value="16"]+label:before{
                background-image: url(/images/Tank/Hero351-icon.webp);
                background-repeat: no-repeat;
                }
                input[type=radio][value="17"]+label:before{
                  background-image: url(/images/Tank/Hero411-icon.webp);
                  background-repeat: no-repeat;
                  }
                  input[type=radio][value="18"]+label:before{
                    background-image: url(/images/Tank/Hero441-icon.webp);
                    background-repeat: no-repeat;
                    }
                    input[type=radio][value="19"]+label:before{
                      background-image: url(/images/Tank/Hero491-icon.webp);
                      background-repeat: no-repeat;
                      }
                      input[type=radio][value="20"]+label:before{
                        background-image: url(/images/Tank/Hero781-icon.webp);
                        background-repeat: no-repeat;
                        }
                                                      
                        input[type=radio][value="21"]+label:before{
                          background-image: url(/images/Tank/Hero811-icon.webp);
                          background-repeat: no-repeat;
                          }
                          
                          input[type=radio][value="22"]+label:before{
                            background-image: url(/images/Tank/Hero871-icon.webp);
                            background-repeat: no-repeat;
                            }
                            
                            input[type=radio][value="23"]+label:before{
                              background-image: url(/images/Tank/Hero881-icon.webp);
                              background-repeat: no-repeat;
                              }
                              input[type=radio][value="24"]+label:before{
                                background-image: url(/images/Tank/Hero1041-icon.webp);
                                background-repeat: no-repeat;
                                }
                                input[type=radio][value="25"]+label:before{
                                  background-image: url(/images/Tank/Hero1111-icon.webp);
                                  background-repeat: no-repeat;
                                  }
                                  input[type=radio][value="26"]+label:before{
                                    background-image: url(/images/Tank/Hero1171-icon.webp);
                                    background-repeat: no-repeat;
                                    }
  
                           /*fighter31-60*/
                           input[type=radio][value="31"]+label:before{
                            background-image: url(/images/fighter/Hero021-icon-2.webp);
                            background-repeat: no-repeat;
                            }
                                    input[type=radio][value="32"]+label:before{
                                      background-image: url(/images/fighter/Hero071-icon.webp);
                                      background-repeat: no-repeat;
                                      }
                                    
                                        input[type=radio][value="33"]+label:before{
                                          background-image: url(/images/fighter/Hero111-icon.webp);
                                          background-repeat: no-repeat;
                                          }
                                          input[type=radio][value="34"]+label:before{
                                            background-image: url(/images/fighter/Hero261-icon.webp);
                                            background-repeat: no-repeat;
                                            }
   
                                            input[type=radio][value="35"]+label:before{
                                              background-image: url(/images/fighter/Hero371-icon.webp);
                                              background-repeat: no-repeat;
                                              }
                                              input[type=radio][value="36"]+label:before{
                                                background-image: url(/images/fighter/Hero391-icon.webp);
                                                background-repeat: no-repeat;
                                                }
                                                input[type=radio][value="37"]+label:before{
                                                  background-image: url(/images/fighter/Hero411-icon.webp);
                                                  background-repeat: no-repeat;
                                                  }
                                                  input[type=radio][value="38"]+label:before{
                                                    background-image: url(/images/fighter/Hero451-icon.webp);
                                                    background-repeat: no-repeat;
                                                    }
                                                    input[type=radio][value="39"]+label:before{
                                                      background-image: url(/images/fighter/Hero541-icon.webp);
                                                      background-repeat: no-repeat;
                                                      }
             
                                                      input[type=radio][value="40"]+label:before{
                                                        background-image: url(/images/fighter/Hero581-icon.webp);
                                                        background-repeat: no-repeat;
                                                        }
                                                        input[type=radio][value="41"]+label:before{
                                                          background-image: url(/images/fighter/Hero621-icon.webp);
                                                          background-repeat: no-repeat;
                                                          }
                                                          input[type=radio][value="42"]+label:before{
                                                            background-image: url(/images/fighter/Hero641-icon.webp);
                                                            background-repeat: no-repeat;
                                                            }
                   
                                                            input[type=radio][value="43"]+label:before{
                                                              background-image: url(/images/fighter/Hero671-icon.webp);
                                                              background-repeat: no-repeat;
                                                              }
                                                              input[type=radio][value="44"]+label:before{
                                                                background-image: url(/images/fighter/Hero721-icon.webp);
                                                                background-repeat: no-repeat;
                                                                }
                                                                input[type=radio][value="45"]+label:before{
                                                                  background-image: url(/images/fighter/Hero741-icon.webp);
                                                                  background-repeat: no-repeat;
                                                                  }
  
                                                                  input[type=radio][value="46"]+label:before{
                                                                    background-image: url(/images/fighter/Hero771-icon.webp);
                                                                    background-repeat: no-repeat;
                                                                    }
                                                                    input[type=radio][value="47"]+label:before{
                                                                      background-image: url(/images/fighter/Hero801-icon.webp);
                                                                      background-repeat: no-repeat;
                                                                      }
  
                                                                 input[type=radio][value="48"]+label:before{
                                                                  background-image: url(/images/fighter/Hero821-icon.webp);
                                                                  background-repeat: no-repeat;
                                                                  }
                                                                  input[type=radio][value="49"]+label:before{
                                                                    background-image: url(/images/fighter/Hero831-icon.webp);
                                                                    background-repeat: no-repeat;
                                                                    }
                                                                    input[type=radio][value="50"]+label:before{
                                                                      background-image: url(/images/fighter/Hero881-icon.webp);
                                                                      background-repeat: no-repeat;
                                                                      }
                                                                      input[type=radio][value="51"]+label:before{
                                                                        background-image: url(/images/fighter/Hero901-icon.webp);
                                                                        background-repeat: no-repeat;
                                                                        }
      
                                                                        input[type=radio][value="52"]+label:before{
                                                                          background-image: url(/images/fighter/Hero951-icon.webp);
                                                                          background-repeat: no-repeat;
                                                                          }
        
                                                                          input[type=radio][value="53"]+label:before{
                                                                            background-image: url(/images/fighter/Hero981-icon.webp);
                                                                            background-repeat: no-repeat;
                                                                            }
          
                                                                            input[type=radio][value="54"]+label:before{
                                                                              background-image: url(/images/fighter/Hero991-icon.webp);
                                                                              background-repeat: no-repeat;
                                                                              }
            
                                                                              input[type=radio][value="55"]+label:before{
                                                                                background-image: url(/images/fighter/Hero1031-icon.webp);
                                                                                background-repeat: no-repeat;
                                                                                }
              
                                                                                input[type=radio][value="56"]+label:before{
                                                                                  background-image: url(/images/fighter/Hero1081-icon.webp);
                                                                                  background-repeat: no-repeat;
                                                                                  }
                                                                                  input[type=radio][value="57"]+label:before{
                                                                                    background-image: url(/images/fighter/Hero1131-icon.webp);
                                                                                    background-repeat: no-repeat;
                                                                                    }
  
                                                                                    input[type=radio][value="58"]+label:before{
                                                                                    background-image: url(/images/fighter/Hero1161-icon.webp);
                                                                                    background-repeat: no-repeat;
                                                                                    }
                                                                                    input[type=radio][value="59"]+label:before{
                                                                                      background-image: url(/images/fighter/Hero1171-icon.webp);
                                                                                      background-repeat: no-repeat;
                                                                                      }
  
  
  
  
  
  
  
  
  
  
  .main{
    width: 100%;
    border: 1px solid red;
    text-align: center;
   
  }
   .list_1{
    padding: 10px;
    display: flex;
    justify-content: center;
  
  
   
    }
  .list_2{
    padding: 10px;
    display: flex;
    justify-content: center;
  
  
    }
    .list_3{
      padding: 10px;
      display: flex;
      justify-content: center;
      }   
      .list_4{
        padding: 10px;
        display: flex;
        justify-content: center;
  
        }                                                                                
        .list_5{
          justify-content: center;
          padding: 10px;
          display: flex;
     
          }      
          .list_6{
            justify-content: center;
            padding: 10px;
            display: flex;
       
            }      
         
         input[type="text"] {
          width: 60%;
          height: 30Px;
      }
      .grond {
        background-image: url(/images/grond/Layla-Misshikari.webp);
        background-size: cover;
      }                                                  
     